.cont {
  position: absolute;
  margin-top: -1.8%;

  background-image: linear-gradient(
    to right top,
    #051937,
    #0b326c,
    #1898e7,
    #0b326c,
    #051937
  );
  width: 75.9vh;
  height: 57vh;
  padding: 20px;
  margin-left: 8%;
  margin-top: 12%;
  border-radius: 25px;
  /* background: linear-gradient(60deg, #eef7ff, #95d0e2); */
  /* background: url("https://images.unsplash.com/photo-1557264337-e8a93017fe92?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  /* padding: 20px; */
}

nav {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.488);
  margin-top: 1.1%;
  background: #5d6a7f1f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 92.5%;
  margin-left: 3.6%;
  border-radius: 20px;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 30px;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px);
}
.im-log {
  opacity: 0.3; /* Use a value between 0 and 1 for opacity */
  transition: opacity 6s; /* Add a property to transition, e.g., opacity */
  /* transform: translateX(190px); */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: anim2;
  animation-duration: 8s;
}

@keyframes anim2 {
  20% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
}

nav .logo {
  color: #ff0000;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items {
  display: flex;
  flex: 1;
  margin-left: 90px;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
  letter-spacing: 1.6px;
  margin-left: 20px;

  padding-top: 2.8px;
}
nav .nav-items li a {
  color: #0000008e;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover {
  color: #ff3d00;
}
nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b25;

  min-width: 18% !important;
  border-radius: 2px;
  border-radius: 10px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #322f2fcd;
  outline: none;
  /* margin-top: -1%; */
  font-size: 17px;
  border: none;
  margin-top: -0.4%;
  font-weight: 500;
  background: none;
}
nav form button {
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3c0036;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 0.8%;
  margin-right: 2%;
  height: 30px;
}
nav form button:hover {
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.space {
  margin: 10px 0;
}
nav .logo.space {
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 20px;
  }
  nav form {
    right: 30px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header {
  font-size: 30px;
  font-weight: 700;
}
.content .text {
  font-size: 30px;
  font-weight: 700;
}
.content .space {
  margin: 10px 0;
}
.line {
  margin-right: -25%;
  opacity: 55%;
  margin-top: -4.5px;
  height: 56px;
  width: 50px;
}
.sicon {
  height: 30px;
  width: 30px;
  margin-top: -8px;
  margin-right: 1.8%;
  opacity: 70%;
}

.hd3 {
  color: #5949d053;
  font-size: 25px;
  font-weight: 650;
  margin-top: 2.2%;
  padding-top: 3.5px;
  letter-spacing: 0.2px;
  background: linear-gradient(to right, #d09830d3 0%, #e55b1be0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ======================Form 2 / validation */
.hd-5 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 16%;
  color: #0b326cd3;
  margin-top: 7.8%;
  position: absolute;
  font-size: 28px;
}
.cont-2 {
  position: absolute;

  background-image: linear-gradient(
    to right top,
    #051937,
    #0b326c,
    #1898e7,
    #0b326c,
    #051937
  );
  width: 75.9vh;
  height: 57vh;
  padding: 30px;
  padding-top: 110px;
  margin-left: 55%;
  margin-top: 12%;
  border-radius: 25px;
}
