<!-- app.component.html -->
<nav>
  <div class="menu-icon">
    <span class="fas fa-bars"></span>
  </div>

  <div class="logo">
    <h3 class="hd3" style="margin-top: 4%">
      <img
        class="im-log"
        style="
          height: 55px;
          width: 60px;
          margin-left: -60px;
          margin-bottom: 10px;
          margin-right: 10px;
        "
        src="./assets/NicePng.png"
        alt=""
      />
      THOREN JP
    </h3>
  </div>
  <div class="nav-items" style="margin-top: -0.7%">
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/pro2']">Form</a></li>
    <li><a [routerLink]="'/pro3'">Pro.</a></li>
    <li><a href="#">Contact</a></li>
  </div>
  <img class="sicon" src="./assets/sicon.png" alt="" />
  <div class="search-icon"></div>
  <img class="line" src="./assets/3line.png" alt="" />
  <div class="cancel-icon">
    <span class="fas fa-times"></span>
  </div>
  <form
    action="#"
    style="
      margin-bottom: 8.5px;
      background-color: rgba(240, 255, 255, 0.075);
      box-shadow: 0 10px 15px #01214e29, 0 0 0 3px #63879e1d;
    "
  >
    <input type="search" class="search-data" placeholder="Search" required />
    <!-- <button type="submit" class="fas fa-search">/</button> -->
  </form>
</nav>
